<?xml version="1.0" encoding="UTF-8" ?>

<suite name="Reqres Automation API">
    <test name="Test Get dan Post">
        <classes>
            <class name="apiauto.TestReqres"/>
        </classes>
    </test>

    <test name="Negative Tests">
        <classes>
            <class name="apiauto.TestNegativeCases"/>
        </classes>
    </test>

    <test name="Boundary Tests">
        <classes>
            <class name="apiauto.TestBoundaryCases"/>
        </classes>
    </test>

</suite>